<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../../static/styles.css">
        <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/MathJax.js?config=default'></script>
    </head>
    <body>
        <button onclick='window.location.href="algebra.html"'>Back to lesson</button>

        <form method = "POST">
        <center>
            <input type="radio" id="right" name="lessonchoice" value="right">
            <label for="right answer">the right answer</label><br>
            <input type="radio" id="wrong" name="lessonchoice" value="wrong">
            <label for="wrong answer">the wrong answer</label><br>
        </center>
        
    </body>
</html>