<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../../static/styles.css">
        <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/MathJax.js?config=default'></script>
    </head>
    <body>
        <button onclick='window.location.href="algebra.html"'>Back to lesson</button>

        <form method = "POST">
        <center>
            <h1>Solve for x for the following:</h1>

            <p>1) 1 + 3x = 16</p>
            <input type="radio" id="1A" name="lessonchoice" value="wrong">
            <label for="1A">x = 4</label><br>
            <input type="radio" id="1B" name="lessonchoice" value="wrong">
            <label for="1B">x = 3</label><br>
            <input type="radio" id="1C" name="lessonchoice" value="right">
            <label for="1C">x = 5</label><br>
            <input type="radio" id="1D" name="lessonchoice" value="wrong">
            <label for="1D">x = 7</label><br>
            
            <hr>

            <p>2) 4x + 3 = 7</p>
            <input type="radio" id="2A" name="lessonchoice" value="right">
            <label for="2A">x = 1</label><br>
            <input type="radio" id="2B" name="lessonchoice" value="wrong">
            <label for="2B">x = 3</label><br>
            <input type="radio" id="2C" name="lessonchoice" value="wrong">
            <label for="2C">x = 5</label><br>
            <input type="radio" id="2D" name="lessonchoice" value="wrong">
            <label for="2D">x = 7</label><br>
        </center>
        
    </body>
</html>