<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../../static/styles.css">
        <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/MathJax.js?config=default'></script>
    </head>
    <body>
        <button onclick='window.location.href="algebra.html"'>Back to lesson</button>

        
        <center>
            <h1>Solve for x for the following:</h1>

            <p>1) 1 + 3x = 16</p>
            <form method = "POST">
            <input type="radio" id="1A" name="q1" value="wrong">
            <label for="1A">x = 4</label><br>
            <input type="radio" id="1B" name="q1" value="wrong">
            <label for="1B">x = 3</label><br>
            <input type="radio" id="1C" name="q1" value="right">
            <label for="1C">x = 5</label><br>
            <input type="radio" id="1D" name="q1" value="wrong">
            <label for="1D">x = 7</label><br>
            <hr>

            <p>2) 4x + 3 = 7</p>
            <input type="radio" id="2A" name="q2" value="right">
            <label for="2A">x = 1</label><br>
            <input type="radio" id="2B" name="q2" value="wrong">
            <label for="2B">x = 3</label><br>
            <input type="radio" id="2C" name="q2" value="wrong">
            <label for="2C">x = 5</label><br>
            <input type="radio" id="2D" name="q2" value="wrong">
            <label for="2D">x = 7</label><br>
            <hr>

            <p>3) x/3 + 6 = 4</p>
            <input type="radio" id="3A" name="q3" value="wrong">
            <label for="3A">x = -1</label><br>
            <input type="radio" id="3B" name="q3" value="right">
            <label for="3B">x = -6</label><br>
            <input type="radio" id="3C" name="q3" value="wrong">
            <label for="3C">x = 4</label><br>
            <input type="radio" id="3D" name="q3" value="wrong">
            <label for="3D">x = 2</label><br>
            <hr>

            <p>4) x - 8 = x/3</p>
            <input type="radio" id="4A" name="q4" value="right">
            <label for="4A">x = 12</label><br>
            <input type="radio" id="4B" name="q4" value="wrong">
            <label for="4B">x = 16</label><br>
            <input type="radio" id="4C" name="q4" value="wrong">
            <label for="4C">x = 6</label><br>
            <input type="radio" id="4D" name="q4" value="wrong">
            <label for="4D">x = 4</label><br>
            <hr>

            <p>5) 9 - x = 2x</p>
            <input type="radio" id="5A" name="q5" value="wrong">
            <label for="5A">x = 4</label><br>
            <input type="radio" id="5B" name="q5" value="wrong">
            <label for="5B">x = -6<label><br>
            <input type="radio" id="5C" name="q5" value="wrong">
            <label for="5C">x = -2</label><br>
            <input type="radio" id="5D" name="q5" value="right">
            <label for="5D">x = 3</label><br>
            </form>
            <hr>

            <input type="submit">
        </center>
        
    </body>
</html>