<!DOCTYPE html> <!-- Tells you the document type -->
<html lang="en"> <!-- Tells you the document language -->

    <head>
    <meta charset="UTF-8" /> <!-- The character set for the document, allowing the usage of characters like é -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" /> <!-- Allows scaling based on size of the browser -->
    <link rel="stylesheet" href="../../static/styles.css" /> <!-- The stylesheet for the document - ignore for now! -->
    <!-- Below are the font families used, ignore for now. -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Winky Rough">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sorts Mill Goudy">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Literata">
    <!-- The title of the website displayed on the browser tab. -->
    <title>MathWiz - Algebra</title>
    </head>

    <body>
        <h1> Algebra </h1>
        
        <section>
            <h2>Table of Contents:</h2>
            <ol>
                <li> <a href="#WhatIsAlgebra"> What is Algebra?</a> </li>
                <li> <a href="#HowDoesItWork"> How does it work?</a> </li>
                <li> <a href="#IsolatingTheVariable"> Isolating the variable</a> </li>
            </ol>
        </section>
        
        <hr>

        <section>
                <div>
                    <h2 id="WhatIsAlgebra">What is Algebra?</h2>
                    <p> Algebra is used everywhere in our everyday lives. It is useful to find unknown values in equations. </p>
                    <p> Here is an example of a problem that you would use Algebra to solve: </p>
                    <p> <li> James is 18cm taller than Omar. The sum of their heights equals 334cm. Identify both boys' heights. </li> </p>
                    <p> This may seem like a problem which you would need to plug in random values until both conditions are satisfied. However, with Algebra, you can figure out the correct value without having waste time trying different values over and over again. </p>
                </div>
                <div>
                    <h2 id="HowDoesItWork">How does it work?</h2>
                    <p> So how does it work?</p>
                    <p>Algebra revolves around **variables**. They are represented by letters, most commonly x and y. You may have seen them before. A **variable** represents an unknown value, usually the value that we are looking for, or the answer. </p>
                    <p> For example, if we want to figure out what 5 + 3 is, we can placehold the answer using a variable: x. We write x = 5 + 3, and we will know that x = 8. </p>
                    <p> However, this doesn't seem very useful, because we already know what 5 + 3 is. Instead a more useful usage of variables is in more complex equations. </p>
                    <p> For example, let's say we want to find out what you'd need to add to 3 to obtain 5. So the question becomes: what + 3 = 5? </p>
                    <p> This is the perfect usage of Algebra, as we can use a variable to represent the unknown value: </p>
                    <p> <li>x + 3 = 5 </li></p>
                    <p> To solve this equation, we can simply subtract 3 from both sides of the equation: </p>
                    <p><li>(x + 3) - 3 = (5) - 3 </li></p>
                    <p>This gives:</p>
                    <p><li>x + 0 = 2</li></p>
                    <p><li>x = 2</li></p>
                </div>
                <div>
                    <h2 id="IsolatingTheVariable">Isolating the variable</h2>
                    <p>The way to solve any equation using Algebra is to **isolate the variable**, meaning to simplify the equation until the variable sits on its own on one side of the equation. If you isolate the variable, then you would know exactly the value of the variable.</p>
                    <p>This can be considered the "final goal" of solving an Algebra equation. </p>
                    <p>Another example:</p>
                    <p><li>5 + x/3 = 16</li></p>
                    <p>We get rid of the 5 by subtracting 5 from both sides: </p>
                    <p><li> (5 + x/3) - 5 = (17) - 5</li></p>
                    <p><li>x/3 = 12 </li></p>
                    <p>Then we get rid of the division by 3 by multiplying by 3 on both sides:</p>
                    <p> <li>(x/3) * 3 = (12) * 3</li></p>
                    <p> <li>x = 36 </li></p>
                </div>
        </section>

        <hr>

    </body>

</html>