<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../../static/styles.css">
        <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/MathJax.js?config=default'></script>
    </head>
    <body>
        <button onclick='window.location.href="geometry.html"'>Back to lesson</button>

        <p>Score: {{points}}/5</p>
        <center>
            <h1>Solve for x for the following:</h1>

            <p>1) Which of the following is false?</p>
            <form method = "POST">
            <input type="radio" id="1A" name="q1" value="wrong">
            <label for="1A">All angles of a triangle add up to 180°</label><br>
            <input type="radio" id="1B" name="q1" value="wrong">
            <label for="1B">The area of a square is the side length squared</label><br>
            <input type="radio" id="1C" name="q1" value="right">
            <label for="1C">The Pythagorean Theorem states that two side lengths of a triangle must always add up to the third side length</label><br>
            <input type="radio" id="1D" name="q1" value="wrong">
            <label for="1D">An acute angle is less than 90°</label><br>
            <hr>

            <p>2) What is the measurement of a right angle?</p>
            <input type="radio" id="2A" name="q2" value="right">
            <label for="2A">90°</label><br>
            <input type="radio" id="2B" name="q2" value="wrong">
            <label for="2B">45°</label><br>
            <input type="radio" id="2C" name="q2" value="wrong">
            <label for="2C">360°</label><br>
            <input type="radio" id="2D" name="q2" value="wrong">
            <label for="2D">180°</label><br>
            <hr>

            <p>3) What is the measurement of a straight angle?</p>
            <input type="radio" id="3A" name="q3" value="wrong">
            <label for="3A">0°</label><br>
            <input type="radio" id="3B" name="q3" value="right">
            <label for="3B">180°</label><br>
            <input type="radio" id="3C" name="q3" value="wrong">
            <label for="3C">45°</label><br>
            <input type="radio" id="3D" name="q3" value="wrong">
            <label for="3D">90°</label><br>
            <hr>

            <p>4) Calculate the third angle in a triangle if the other two angles are 44° and 47°</p>
            <input type="radio" id="4A" name="q4" value="right">
            <label for="4A">89°</label><br>
            <input type="radio" id="4B" name="q4" value="wrong">
            <label for="4B">79°</label><br>
            <input type="radio" id="4C" name="q4" value="wrong">
            <label for="4C">99°</label><br>
            <input type="radio" id="4D" name="q4" value="wrong">
            <label for="4D">69°</label><br>
            <hr>

            <p>5) Calculate the third angle in a triangle if the other two angles are 101° and 30°</p>
            <input type="radio" id="5A" name="q5" value="wrong">
            <label for="5A">35°</label><br>
            <input type="radio" id="5B" name="q5" value="wrong">
            <label for="5B">45°<label><br>
            <input type="radio" id="5C" name="q5" value="wrong">
            <label for="5C">39°</label><br>
            <input type="radio" id="5D" name="q5" value="right">
            <label for="5D">49°</label><br>
            </form>
            <hr>

            <input type="submit">
        </center>
        
    </body>
</html>
