<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../../static/styles.css">
        <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/MathJax.js?config=default'></script>
    </head>
    <body>
        <button onclick='window.location.href="number-systems.html"'>Back to lesson</button>

        <p>Score: {{points}}/5</p>
        <center>
            <h1>Answer the following questions:</h1>

            <p>1) What is the symbol for Natural Numbers?</p>
            <form method = "POST">
            <input type="radio" id="1A" name="q1" value="right">
            <label for="1A">N</label><br>
            <input type="radio" id="1B" name="q1" value="wrong">
            <label for="1B">W</label><br>
            <input type="radio" id="1C" name="q1" value="wrong">
            <label for="1C">I</label><br>
            <input type="radio" id="1D" name="q1" value="wrong">
            <label for="1D">Q</label><br>
            <hr>

            <p>2) What does the symbol P sometimes represent?</p>
            <input type="radio" id="2A" name="q2" value="wrong">
            <label for="2A">Rational Numbers</label><br>
            <input type="radio" id="2B" name="q2" value="right">
            <label for="2B">Irrational Numbers</label><br>
            <input type="radio" id="2C" name="q2" value="wrong">
            <label for="2C">Poetic Numbers</label><br>
            <input type="radio" id="2D" name="q2" value="wrong">
            <label for="2D">Real Numbers</label><br>
            <hr>

            <p>3) What is the definition of Real Numbers?</p>
            <input type="radio" id="3A" name="q3" value="wrong">
            <label for="3A">All positive numbers</label><br>
            <input type="radio" id="3B" name="q3" value="wrong">
            <label for="3B">All numbers that can be represented as a fraction</label><br>
            <input type="radio" id="3C" name="q3" value="right">
            <label for="3C">All rational AND irrational numbers</label><br>
            <input type="radio" id="3D" name="q3" value="wrong">
            <label for="3D">None of these answers</label><br>
            <hr>

            <p>4) True or false: the Whole Numbers set includes 0</p>
            <input type="radio" id="4A" name="q4" value="right">
            <label for="4A">True</label><br>
            <input type="radio" id="4B" name="q4" value="wrong">
            <label for="4B">False</label><br>
            <hr>

            <p>5) Which of the following is an example of an irrational number?</p>
            <input type="radio" id="5A" name="q5" value="wrong">
            <label for="5A">3.3333333333..</label><br>
            <input type="radio" id="5B" name="q5" value="right">
            <label for="5B">π<label><br>
            <input type="radio" id="5C" name="q5" value="wrong">
            <label for="5C">x9/13</label><br>
            <input type="radio" id="5D" name="q5" value="wrong">
            <label for="5D">Square root of 4</label><br>
            </form>
            <hr>

            <input type="submit">
        </center>
        
    </body>
</html>