<!DOCTYPE html> <!-- Tells you the document type -->
<html lang="en"> <!-- Tells you the document language -->

    <head>
    <meta charset="UTF-8" /> <!-- The character set for the document, allowing the usage of characters like é -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" /> <!-- Allows scaling based on size of the browser -->
    <link rel="stylesheet" href="styles-complete.css" /> <!-- The stylesheet for the document - ignore for now! -->
    <!-- Below are the font families used, ignore for now. -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Winky Rough">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sorts Mill Goudy">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Literata">
    <!-- The title of the website displayed on the browser tab. -->
    <title>MathWiz - Number Systems</title>
    </head>

    <body>
        <h1> Number Systems </h1>
        
        <section>
            <h2>Table of Contents:</h2>
            <ol>
                <li> <a href="#Introduction"> Introduction to Number Systems</a> </li>
                <li> <a href="#TypesOfNumbers"> Types of Numbers</a>
                    <ul>
                    <li><a href="#NaturalNumbers"> Natural Numbers</a> </li>
                    <li><a href="#WholeNumbers"> Whole Numbers</a> </li>
                    <li><a href="#Integers"> Integers</a> </li>
                    <li><a href="#RationalNumbers"> Rational Numbers</a> </li>
                    <li><a href="#IrrationalNumbers"> Irrational Numbers</a> </li>
                    <li><a href="#RealNumbers"> Real Numbers</a> </li>
                    </ul>
                </li>
            </ol>
        </section>
        
        <hr>

        <section>
                <div>
                    <h2 id="Introduction">Introduction to Number Systems</h2>
                    <p>A number system is a way to represent and work with numbers. It includes different types of numbers we use in math.</p>
                </div>
                <div>
                    <h2 id="TypesOfNumbers">Here are the basic types of numbers in a number system:</h2>
                    <ul>
                        <li id="NaturalNumbers">Natural numbers (N)<ul>
                            <li>All positive integers (1, 2, 3, ...)</li>
                            <li>**DOESN'T** include 0</li>
                        </ul></li>
                        <li id="WholeNumbers">Whole numbers (W)<ul>
                            <li>All non-negative integers (0, 1, 2, 3...)</li>
                            <li>Includes 0</li>
                        </ul></li>
                        <li id="Integers">Integers (I)<ul>
                            <li>All integers (...-2, -1, 0, 1, 2...)</li>
                        </ul></li>
                        <li id="RationalNumbers">Rational numbers (Q)<ul>
                            <li>All numbers that can be written as fractions (1/2, 2/9...)</li>
                            <li>Includes 0</li>
                        </ul></li>
                        <li id="IrrationalNumbers">Irrational numbers (sometimes written as P)<ul>
                            <li>All real numbers that are NOT rational</li>
                            <li>CANNOT be written as fraction</li>
                            <li>Ex:<ul>
                                <li>square root of 2 (1.41421356237...)</li>
                                <li>π (3.14159265359...)</li>
                            </ul></li>
                        </ul></li>
                        <li id="RealNumbers">Real numbers (R)<ul>
                            <li>    All rational AND irrational numbers</li>
                        </ul></li>
                    </ul>
                </div>
        </section>

        <hr>

    </body>

</html>