<!DOCTYPE html>
<html>
    <head>
        <!-- basically, this file is supposed to be an introduction to the Grade 11 concepts in Discrete Functions.
        This should cover the following:
        Sequences
        Series
        Recursive Equations
        Expanding Binomials with Pascal's Triangle
        -->
        <title>Discrete Functions</title>
        <link rel="stylesheet" href="styles.css">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1>
            Discrete Functions
        </h1>
        <h3>
            Sequences
        </h3>
        <p>
            
        </p>
        <img src = "https://raw.githubusercontent.com/Pierce-Trakas/ww.python.org/refs/heads/main/image%20files/egrowthdecay.png">
        <hr>
        <h3>
            Series
        </h3>
        <p>
            Every exponential function has Asymptotes, which are lines that the function approaches, but does not cross. 
            Depending on how you transform the function, the asymptote's location will change, as well as the function's domain and range.
        </p>
        <img src = "">
        <hr>
        <h3>
            Recursive Equations
        </h3>
        <p>
            To find out how many times a number has been multiplied (the x value) by itself in an exponential function when given the equation, 
            you can use Logarithms on your calculator. Logarithms are structured as x = log r(y), consisting of a base (r), exponent(x), and argument (y).
            An example is log 10(100), which calculates the total amount of times that 100 can be divided by 10 while still being an integer, thus outputting 2 (since 10^2 is 100). 
            Another example is log 2(64), which gives an answer of 6, as 2^6 is 64.
        </p>
        <img src = "">
        <h3>
            Expanding Binomials with Pascal's Triangle
        </h3>
        <p>
            To find out how many times a number has been multiplied (the x value) by itself in an exponential function when given the equation, 
            you can use Logarithms on your calculator. Logarithms are structured as x = log r(y), consisting of a base (r), exponent(x), and argument (y).
            An example is log 10(100), which calculates the total amount of times that 100 can be divided by 10 while still being an integer, thus outputting 2 (since 10^2 is 100). 
            Another example is log 2(64), which gives an answer of 6, as 2^6 is 64.
        </p>
        <img src = "">
    </body>
</html>