<!DOCTYPE html>
<html>
    <head>
        <!-- basically, this file is supposed to be an introduction to the Grade 11 concepts in Discrete Functions.
        This should cover the following:
        Sequences
        Series
        Recursive Equations
        Expanding Binomials with Pascal's Triangle
        -->
        <title>Discrete Functions</title>
        <link rel="stylesheet" href="../../static/styles.css">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1>
            Discrete Functions
        </h1>
        <h3>
            Sequences
        </h3>
        <p>
            A sequence is a list of numbers connected by a pattern, usually either geometric or arithmetic.
            In an arithmetic sequence, there is a common difference between every number, and the formula is t<sub>n</sub> = a+d(n-1).
            T<sub>n</sub> represents the n<sup>th</sup> term, a represents the initial value, and d represents the common difference.
            In a geometric sequence, there is a common ratio between every number, and the formula is t<sub>n</sub> = a(r)<sup>n-1</sup>.
            r represents the common ratio.
        </p>
        <img src = "">
        <hr>
        <h3>
            Series
        </h3>
        <p>
            To find out the sum of all numbers in a sequence (or all numbers up to a specific term), you have to translate that sequence 
            into a series. The equation of an arithmetic series is S<sub>n</sub> = n/2[2a+d(n-1)]. S<sub>n</sub> represents the sum of a series. 
            The equation of an arithmetic series is S<sub>n</sub> = a(r<sup>n</sup>-1)/r-1.
        </p>
        <img src = "">
        <hr>
        <h3>
            Recursive Equations
        </h3>
        <p>
            Every sequence can also be expressed as a recursive equation, which includes previous terms as part of the formula.
            A famous recursive equation is the Fibonacci Sequence; which can be represented by the equation 
            t<sub>n</sub> = t<sub>n-1</sub> + t<sub>n-2</sub>, or "the n<sup>th</sup> term is equal to the sum of the two previous terms".
        </p>
        <img src = "">
        <hr>
        <h3>
            Expanding Binomials with Pascal's Triangle
        </h3>
        <p>
            When expanding a binomial in the format (a+b)<sup>n</sup>, the triangle made by famous mathematician Blaise Pascal can be used to make the process easier.
            To start, find the row of the triangle that corresponds to n's value (example in the image below). If n is 0, then the answer will always be 1.
            Once you have the row, use the numbers in that row as the coefficients for each term.
            The first term should be a<sup>n</sup>, and the last should be b<sup>n</sup>.
            Every consecutive term, a's exponent should decrease by one, but b's should increase.
            Once you get every term (each structured as coefficient * a<sup>n</sup> * b<sup>n</sup>), simplify them as much as possible.
            You have now expanded the binomial!
        </p>
        <img src = "https://raw.githubusercontent.com/Pierce-Trakas/ww.python.org/refs/heads/main/image%20files/ptriangle.png">
    </body>
</html>