<!DOCTYPE html>
<html>
    <head>
        <!-- basically, this file is supposed to be an introduction to the Grade 11 concepts in Exponential Functions.
        This should cover the following:
        Growth and Decay
        Rational Exponents
        Solving Exponential Equations
        Exponential Graphs & Transformations
        Logarithms
        -->
        <title>Exponential Functions</title>
        <link rel="stylesheet" href="styles.css">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1>
            Exponential Functions
        </h1>
        <h3>
            Exponential Growth and Decay
        </h3>
        <p>
            Exponential Functions have a structure of y = a(r)^x, with a representing the initial value of the function (i.e. the y value of the function while intersecting the y-axis),
            and r representing the rate of growth or decay. If r is above 1, then the value of the function will grow as the x value increases. The opposite will occur if r is between 1 and 0.
        </p>
        <img src = "https://raw.githubusercontent.com/Pierce-Trakas/ww.python.org/refs/heads/main/image%20files/egrowthdecay.png">
        <hr>
        <h3>
            Rational Exponents
        </h3>

        <p>
            
        </p>
        <hr>
        <h3>
            Solving Exponential Equations
        </h3>

        <p>
            
        </p>
        <hr>
        <h3>
            Exponential Graphs and Transformations
        </h3>

        <p>
            
        </p>
        <hr>
        <h3>
            Logarithms
        </h3>

        <p>
            
        </p>
    </body>
</html>