<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../../static/styles.css">
        <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/MathJax.js?config=default'></script>
    </head>
    <body>
        <button onclick='window.location.href="algebra.html"'>Back to lesson</button>

        <p>Score: {{points}}/4</p>
        <center>
            <h1>Solve for x for the following:</h1>

            <p>
                1)Bacteria can multiply at an alarming rate when each bacteria splits into two new cells, thus doubling. Ifwe start with one bacteria, how many bacteria will we have by the end of one day?
            </p>

            <form method = "POST">
            <input type="radio" id="1A" name="q1" value="wrong" required>
            <label for="1A">15777216</label><br>
            <input type="radio" id="1B" name="q1" value="wrong" required>
            <label for="1B">16767216</label><br>
            <input type="radio" id="1C" name="q1" value="right" required>
            <label for="1C">16777216</label><br>
            <input type="radio" id="1D" name="q1" value="wrong" required>
            <label for="1D">15767216</label><br>
            <hr>

            <p>2) You have inherited land that was purchased for $30,000 in 1960. The value of the land increased by approximately 5% every year. What is the approximate value of the land in 2011?</p>
            <input type="radio" id="2A" name="q2" value="right" required>
            <label for="2A">$361223.09</label><br>
            <input type="radio" id="2B" name="q2" value="wrong" required>
            <label for="2B">$461223.09</label><br>
            <input type="radio" id="2C" name="q2" value="wrong" required>
            <label for="2C">$361223.10</label><br>
            <input type="radio" id="2D" name="q2" value="wrong" required>
            <label for="2D">$461223.10</label><br>
            <hr>

            <p>3) Each year, the local country club sponsors a tennis tournament. Play starts with 128 participants. During each round, half of the players are eliminated. How many players remain after 5 rounds?</p>
            <input type="radio" id="3A" name="q3" value="wrong" required>
            <label for="3A">8 players</label><br>
            <input type="radio" id="3B" name="q3" value="right" required>
            <label for="3B">4 players</label><br>
            <input type="radio" id="3C" name="q3" value="wrong" required>
            <label for="3C">2 players</label><br>
            <input type="radio" id="3D" name="q3" value="wrong" required>
            <label for="3D">1 player</label><br>
            <hr>

            <p>4) An adult takes 400 mg Of ibuprofen. Each hour, the amount of ibuprofen in the person's system decreases by 29%. How much ibuprofen is left after 6 hours? </p>
            <input type="radio" id="4A" name="q4" value="right" required>
            <label for="4A">51.24 mg</label><br>
            <input type="radio" id="4B" name="q4" value="wrong" required>
            <label for="4B">50.24 mg</label><br>
            <input type="radio" id="4C" name="q4" value="wrong" required>
            <label for="4C">50.22 mg</label><br>
            <input type="radio" id="4D" name="q4" value="wrong" required>
            <label for="4D">51.22 mg</label><br>
            </form>
            <hr>
            <input type="submit">
        </center>
        
    </body>
</html>