<!DOCTYPE html>
<html>
    <head>
        <!-- basically, this file is supposed to be an introduction to the Grade 11 concepts that don't use functions.
        This should cover the following:
        Rational Expressions
        Solving With Radicals
        Rational Exponents
        -->
    </head>
    <body>

        <h3>
            Rational Exponents
        </h3>

        <p>
            
        </p>
        
        <h3>
            Solving Exponential Equations
        </h3>

        <p>
            
        </p>
    </body>
</html>