<!DOCTYPE html>
<html>
    <head>
        <!-- basically, this file is supposed to be an introduction to the Grade 11 concepts that don't use functions.
        This should cover the following:
        Rational Expressions
        Solving With Radicals
        Rational Exponents
        -->
        <title>Expressions</title>
        <link rel="stylesheet" href="../../static/styles.css">
    </head>
    <body>
        <button onclick='window.location.href="../index.html"'>Back</button>
        <h3>
            coming soon ...
        </h3>

        <p>
            
        </p>
        
        <h3>
            
        </h3>

        <p>
            
        </p>
    </body>
</html>