<!DOCTYPE html>
<html>
    <head>
        <!-- basically, this file is supposed to be an introduction to the Grade 11 concepts in Quadratic Functions.
        This should cover the following:
        What is a Function?
        Completing the Square: Standard to Vertex
        Linear-Quadratic Systems
        Transforming and Inverting Basic Functions
        -->
        <title>Quadratic Functions</title>
        <link rel="stylesheet" href="../../static/styles.css">
    </head>
    <body>
        <button onclick='window.location.href="../index.html"'>Back</button>
    </body>
</html>