<!DOCTYPE html>
<html>
    <head>
        <!-- basically, this file is supposed to be an introduction to the Grade 10 concepts in Linear Systems.
        This should cover the following:
        Substitution
        Elimination
        -->
        <title>Analytical Geometry</title>
        <link rel="stylesheet" href="../../static/styles.css">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <button onclick='window.location.href="../index.html"'>Back</button>
        <h1>
            Analytical Geometry
        </h1>
        <h3>
            The Length Formula
        </h3>
        <p>
            By using knowledge of the Pythagorean Theorem, you can realize that a line and its rise and run make a right triangle, 
            so the square rooot of (rise squared + run squared) will equal the square of the length of the line.
            By calculating what the rise and run are (which can be done if you know the endpoint coordinates of the line segment), you can get the exact distance.
        </p>
        <img src = "https://raw.githubusercontent.com/Pierce-Trakas/ww.python.org/refs/heads/main/image%20files/lengthformula.png">
        <hr>
        <h3>
            Finding the Midpoints of Lines
        </h3>
        <p>
            If you know the endpoints of a line, you can easily solve for the midpoint by finding the mean of the x values of the endpoints (simply adding them and dividing by two) and the y values of the endpoints.
            That should give you the coordinates of the midpoint.
        </p>
        <img src = "https://raw.githubusercontent.com/Pierce-Trakas/ww.python.org/refs/heads/main/image%20files/midpoints.png">
    </body>
</html>