<!DOCTYPE html>
<html>
    <head>
        <!-- basically, this file is supposed to be an introduction to the Grade 10 concepts in Linear Systems.
        This should cover the following:
        Substitution
        Elimination
        -->
        <title>Linear Systems</title>
        <link rel="stylesheet" href="../../static/styles.css">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <button onclick='window.location.href="../index.html"'>Back</button>
        <h1>
            Linear Systems
        </h1>
        <h3>
            Solving with Substitution
        </h3>
        <p>
            To find the intersection point of two lines, you can use substitution.
            First, take one of the equations in your linear system and isolate one of its variables (I'll refer to it as y and the other as x).
            To isolate a variable, move everything except for the variable in question onto one side and make the variable's coefficient equal to 1.
            By doing this, you can replace y in the other equation with everything on the other side of that first equation.
            From then onwards, solve for x using your new equation.
            Once you have found x, insert it as x in the isolated equation to find the value of y.
            (x, y) is the intersection point.
        </p>
        <img src = "https://raw.githubusercontent.com/Pierce-Trakas/ww.python.org/refs/heads/main/image%20files/substitution.png">
        <hr>
        <h3>
            Solving with Elimination
        </h3>
        <p>
            To find the intersection point of two lines, you can use elimination.
            First, make one of your variables (I'll refer to the ones we want to eliminate as y and the others as x) have an additive inverse coefficient (the number that, when added to it, is equal to 0, e.g. -1 is 1's additive inverse) in the other equation.
            Multiply both sides to get the numbers that you need. Then, add the numbers in both equations together.
            This will eliminate y and leave only whole numbers and x. With only one variable, x is much easier to calculate.
            Once you know x, substitute it into one of the equations to solve for y. (x, y) is the intersection point.
        </p>
        <img src = "https://raw.githubusercontent.com/Pierce-Trakas/ww.python.org/refs/heads/main/image%20files/elimination.png">
        <button onclick='window.location.href="linearquiz.html"'>Take the quiz!</button>
    </body>
</html>