<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../../static/styles.css">
        <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/MathJax.js?config=default'></script>
    </head>
    <body>
        <button onclick='window.location.href="linearSystems.html"'>Back to lesson</button>
        <h2><center>Solve the following systems of equations:</center></h2>
        <p><center>$$3x+y=10\\-3x+2y=2$$</center></p>
        <center>
            <form method = "POST">
                <input type="radio" id="A" name="lessonchoice" value="wrong">(2, -2)<br>
                <input type="radio" id="B" name="lessonchoice" value="right">(2, 4)<br>
                <input type="radio" id="c" name="lessonchoice" value="wrong">(-1, -2)<br>
                <input type="radio" id="D" name="lessonchoice" value="wrong">(6, 1)<br>
            </form>
        </center>
        <hr>
        <p><center>$$9x+7y=3\\2x-4y=-8$$</center></p>
        <center>

            <form method = "POST">
                <input type="radio" id="A" name="lessonchoice" value="wrong">(-7/5, -8/5)<br>
                <input type="radio" id="B" name="lessonchoice" value="wrong">(-3/25, 3/5)<br>
                <input type="radio" id="c" name="lessonchoice" value="wrong">(-8/5, -2/25)<br>
                <input type="radio" id="D" name="lessonchoice" value="right">(-22/25, 39/25)<br>
            </form>
        </center>
        <hr>
        $$6y=-3\\-5x-8y=0$$
        $$2x+4y=-3\\-4x+3y=6$$
        $$x-y=-6\\-9x+y=6$$
        $$-5x+7y=0\\-8x=5$$
        $$-7x-9y=-5\\-9x+y=1$$
        $$-9x+10y=5\\-2x=-7$$
        $$-x-7y=0\\8x-10y=-3$$
        $$y=9\\1-3y=-2$$
        $$2x-10y=6\\-5x-4y=-2$$
        $$-2x-10y=-7\\-6x+2y=-8$$
        $$5x+2y=10\\-7x-5y=-3$$
    </body>
</html>