<!DOCTYPE html>
<html>
    <head>
        <!-- basically, this file is supposed to be an introduction to the Grade 10 concepts in Linear Systems.
        This should cover the following:
        Substitution
        Elimination
        -->
        <title>Exponential Functions</title>
        <link rel="stylesheet" href="styles.css">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <button onclick='window.location.href="../index.html"'>Back</button>
        <h1>
            Quadratics
        </h1>
        <h3>
            An introduction to Parabolae and Quadratic Forms
        </h3>
        <p>
            Vertex form shows you where the vertex (highest point) of a parabola is. 
            It is calculated as y = a(x-h)^2+k, where a represents compression/stretch factor and (h, k) are the coordinates of the vertex. 
            Factored form shows you where the roots or x-intercepts are (where it touches the x-axis). 
            It is calculated as y = a(x-r)(x-s), where r and s represent the x-intercepts. 
            Standard form shows you where the y-intercept (where it touches the y-axis) is. 
            It is represented as y = ax^2+bx+c, where c represents the y-intercept. 
            To find the x-intercepts, you can either convert it to factored form or use the quadratic formula (-b+or-√b^2-4ac/2a) to find each x-intercept. 
            To find the vertex, you either use -b/2a to find the x value and substitute from there or use a much harder method called Completing The Square to convert to Vertex form.
        </p>
        <img src = "https://raw.githubusercontent.com/Pierce-Trakas/ww.python.org/refs/heads/main/image%20files/standard-vertex-forms.png">
        <hr>
        <h3>
            Expanding Factored Form Parabolae (FOIL)
        </h3>
        <p>
            To convert factored form parabolae into standard form, multiply the first, outside, inside, and last numbers within the (x-r)(x-s) brackets. 
            Essentially, your final result should be x^2-rx-sx+rs. Use FOIL as an acronym to remember it.
        </p>
        <img src = "https://raw.githubusercontent.com/Pierce-Trakas/ww.python.org/refs/heads/main/image%20files/foiling.png">
        <h3>
            Factoring Standard Form Parabolae
        </h3>
        <p>
            To convert standard form parabolae into factored form, you use factoring. If the a value is 1, then find two numbers that multiply to c and add to b. 
            Those two numbers are your r and s values. If it is not 1, then find two numbers that multiply to ac and add to b (we'll refer to them as d and e). 
            Use those two numbers to replace b (your equation should be structured as y = ax^2 + dx + ex + c). 
            Then, put the parts of the equation into pairs (ax^2 +dx and ex+c) and find any common factors. 
            Use the distributive property to put the factors outside of the brackets and leave anything factored inside. 
            Hopefully, both of the parts contained within brackets will be the same, otherwise, you messed up. 
            Now, just take the values outside of the brackets and use them to replace x and r in the factored form equation, and do the same thing with the values inside of the brackets with x and s. 
            This will give you (x-r)(x-s) and the final answer.
        </p>
        <img src = "https://raw.githubusercontent.com/Pierce-Trakas/ww.python.org/refs/heads/main/image%20files/factoring.png">
    </body>
</html>