<html>
    <head>
        <title> MathWiz </title>
        <link rel="stylesheet" href="../static/styles.css">
    </head>
    <body>
        <h1>
           <center> <font size="7"> Welcome to MathWiz. Choose your course: <font/></center>
        </h1>
        <h3>
            <table border=" 3" width="1490"  height="550">
                <tr> 
                    <td> <b><font size="6">  <center>Grade 9</center> </font> </b></td>
                    <td> <b><font size="6"> <center>Grade 10</center> </font> </b> </td>
                    <td> <b><font size="6"> <center>Functions</center> </font> </b></td>
                </tr>
                <tr> 
                    <td> <center> <button onclick='window.location.href="G9_math/number-systems.html"'> Number System </button> </center></td>
                    <td> <center> <button onclick='window.location.href="Grade 10/linearSystems.html"'>  Linear Systems </button> </center></td>
                    <td><center> <button onclick='window.location.href=""'> Quadratic Functions </button> </center></td>
                </tr> 
                <tr> 
                    <td> <center> <button onclick='window.location.href="G9_math/algebra.html"'> Algebra </button> </center></td>
                    <td><center> <button onclick='window.location.href="Grade 10/quadratics.html"'> Quadratics </button> </center></td>
                    <td> <center> <button onclick='window.location.href="FUNctions/exponentialFunctions.html"'> Exponential Functions </button> </center></td>
                </tr>
                <tr> 
                    <td> <center> <button onclick='window.location.href=""'> Geometry </button> </center></td>
                    <td> <center> <button onclick='window.location.href=""'> Trigonometry </button> </center></td>
                    <td> <center> <button onclick='window.location.href=""'> Trigonometric Functions </button> </center></td>
                </tr>
                <tr> 
                    <td> <center> <button onclick='window.location.href=""'> Data Management </button> </center></td>
                    <td> <center> <button onclick='window.location.href="Grade 10/analyticalGeometry.html"'> Analytic Geometry </button> </center></td>
                    <td> <center> <button onclick='window.location.href="FUNctions/discreteFunctions.html"'> Discrete Functions </button> </center> </td>
                </tr>
                <tr> 
                    <td> <center> <button onclick='window.location.href=""'> Financial Literacy </button> </center></td>
                    <td> <center> X </center></td>
                    <td> <center> <button onclick='window.location.href=""'> Expressions & Equations </button> </center> </td>
                </tr>
            </table>
        </h3>
        
    </body>
</html>

